# Application
APP_DEBUG=True
APP_LOG_LEVEL=INFO
APP_SESSION_NUMBERS=[2,3,4]
APP_PAYMENT_DELAYS=[2,3,5,9,10]
APP_DOMESTIC_DELAYS=[2,3,5,9,10]
APP_DEFAULT_PROCESS_DELAYS=[2,3,5,9,10]
APP_PAYMENT_FAILURE_RATE=0.1
APP_DOMESTIC_FAILURE_RATE=0.01
APP_USE_SA_CONNECTION_POOL=True

# Database
DB_HOST=localhost
# Local Postgres: 5432
# PgBouncer (docker-compose): 6432
DB_PORT=5432
DB_NAME=sandbox-connection-pool
DB_USER=postgres
DB_PASSWORD=postgres
DB_DRIVER=psycopg
DB_ECHO=False
DB_TIMEOUT=5

# SQLAlchemy Pool
CONN_POLL_POOL_SIZE=40
CONN_POLL_MAX_OVERFLOW=0
CONN_POLL_POOL_TIMEOUT=30
CONN_POLL_POOL_RECYCLE=3600
